@inherits LayoutComponentBase

<div class="page">
    <RadzenComponents />

    <RadzenLayout>
        <NavMenu />

        <RadzenBody>
            @Body
        </RadzenBody>

        <RadzenFooter style="width: 100vw">
            <RadzenIcon Icon="water_drop" />
            <RadzenLabel Text="Footer" />
        </RadzenFooter>
    </RadzenLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
